/* footer {
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1%;
    background-color: rgba(238, 96, 96, 0.292);
} */
footer {
    font-family: 'Courier New', Courier, monospace;
    left: 0px;
    background-color: rgba(238, 96, 96, 0.292);
}